.attendaceScrore {
    background: none repeat scroll 0px 0px rgb(0, 75, 128);
    color: rgb(255, 255, 255);
    margin-top: 15px;
    padding: 11px;
}
.attendaceScrore h3 {
    margin: 0px;
    font-size: 16px;
    text-align: center;
}
.table td, .table th {
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 14px;
}

.calendarDescription {
    background: none repeat scroll 0 0 #fff;
    text-align: center;
    width: 100%;
    float: left;
    margin-top: 10px;
}
.calendarDescription ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.calendarDescription ul li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 0 none !important;
    display: inline-block !important;
    font-family: "robotoregular" !important;
    font-size: 11px !important;
    margin: 0 4px 0 0 !important;
    padding: 0 0 0 11px !important;
    position: relative;
}
.calendarDescription ul li:before{content: "";
    display: inline-block;
    height: 8px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 8px;}
.calendarDescription ul li:first-child::before {
    background:#0A99EC;    
}
.calendarDescription ul li:nth-child(2)::before {
    background:rgba(0,255,0,0.3);  
}
.calendarDescription ul li:nth-child(3)::before {
    background: #ED8960;
}
.calendarDescription ul li:last-child::before {
    background: rgba(14, 14, 107, 0.3);
    
}

#leaveapplication h4{font-size: 18px; margin-top: 15px}
.selectNewBox,.calenerIcon,.reasionTextarea{font-size: 14px;}
.smbtn{font-size: 13px;}
.datBox {margin-top: 10px;}
calenerIcon {
    width: 100%;
    background: url(/assets/images/icons/calendar.png) no-repeat 95% center !important;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 35px;
    padding-left: 10px;
    position: static !important;
    box-shadow: none !important;
}




