.hdboxcontroller{margin-top:20px;margin-right:15px}
.hdboxcontroller .fa-arrow-left{color: #3c6ecd; font-size: 25px;}
.hdboxcontroller .fa-heart{color: #3c6ecd; font-size: 25px;}
.hdboxcontroller .fa-reply{color: #3c6ecd; font-size: 25px;}
.hdboxcontroller .redColor{color:red !important;}