page-duedetailspopup {
    .content{
        .scroll-content{overflow-y: hidden !important}
    }
    
.dueclass{width:100%;
    .tbobystyle{background-color: #3c6ecd;color: white;
        th{padding: 6px 0px;}
    }
    }
    .aligncenter{text-align: center;
    td{padding: 6px;border-bottom: 1px solid #ddd;}}
    .fontsize{font-size: 1.0rem;}
    .alignright{text-align: right;padding-right: 10px;}
}
