<!-- <router-outlet>

</router-outlet> -->
<!-- 
<ng-container *ngIf="urlPath=='createcenter'">
    <app-createcenter></app-createcenter>
</ng-container>
<ng-container *ngIf="urlPath=='coursemode'">
    <app-coursemode></app-coursemode>
</ng-container>
<ng-container *ngIf="urlPath=='equipmentmaster'">
    <app-equipmentmaster></app-equipmentmaster>
</ng-container>
<ng-container *ngIf="urlPath=='classmaster'">
    <app-classmaster></app-classmaster>
</ng-container>
<ng-container *ngIf="urlPath=='courseassignment'">
    <app-courseassignment></app-courseassignment>
</ng-container>
<ng-container *ngIf="urlPath=='staffcenterassignment'">
    <app-staffcenterassignment></app-staffcenterassignment>
</ng-container> -->
