<div class="boxModel pull-left maxHightOuto" style="margin-top: 15px;">
<div class="headBox">
        <h5 class="h5 pull-left"><a (click)="discardremark()" ><i class="fa fa-fw fa-close"></i></a>  {{'remark' | translate}}</h5>
        <div class="col-sm-4 col-md-3 pull-right text-right mailIcon"> <a href="javascript:void(0)" (click)="remarkhomework()" class="sm-blue-btn pull-right" title="Send"> {{'send' | translate}}</a></div>
</div>
<div class="col-sm-12 col-md-12 pull-left">
<div class="mailBlock padding-left-none" style="margin-top:10px;">
<div class="mailHeader has-feedback mailerStyle">
<div class="mailTitleLable"> {{'from' | translate}}</div>
<h4><b> {{'me' | translate}}</b> <span class="lightGray"></span></h4>
</div>

<div class="mailHeader has-feedback mailerStyle">
<div class="mailTitleLable"> {{'to' | translate}} </div>
<h4><b >{{studentName}}</b></h4>
</div>

<div class="mailHeader has-feedback mailerStyle">
<div class="mailTitleLable"> {{'subject' | translate}}</div>
<h4><b >{{subject}}</b></h4>
</div>

<div class="mailHeader has-feedback mailerStyle">
<div class="mailTitleLable"> {{'topic' | translate}}</div>
<h4><b >{{title}}</b></h4>
</div>
</div>
</div>
<!--Success Pupup-->
<div *ngIf="discardremk" class="successMessage discardpoup hide">
        <div>
    <span> {{'discard_homework_confirm' | translate}}<p><button type="button" class="btn btn-default btn-info" (click)="rmkcancel()" > {{'cancel' | translate}}</button>
      <button type="button" class="btn btn-default btn-info" (click)="rmkdiscard()" routerLink="/homework/checkhomework/{{userid}}/{{studentName}}/{{homeId}}" > {{'discard' | translate}}</button></p></span>
    </div>
    </div>

<div class="clearfix"></div>
<div class="col-sm-12 col-md-12 pull-left">
<app-ngx-editor minHeight="250px"placeholder=" {{'enter_text_here' | translate}}.." [spellcheck]="true" [(ngModel)]="htmlContent"></app-ngx-editor>
<div *ngIf="responseMessage" id="successpop" class="successMessage">
        <div><span class="has-feedback"><p>{{popmessage}}</p><a routerLink="/homework/teacherdetail/{{homeId}}" class="msgclose sm-blue-btn" ng-click="closeme()"> {{'ok' | translate}}</a></span></div>
</div>
</div>
</div>