<div class="col-sm-12 col-md-12 padding-left-none">
  <div class="boxModel pull-left maxHightOuto">
    <div class="headBox mb15">
      <h5 class="pull-left">{{ imprest_approval_title}}</h5>
    </div>
    <div>{{globalObj.message}}</div>
    <!--SEARCH START-->
    <div id="searchTable" class="col-sm-12 col-md-12 pull-left">
      <form class="form-horizontal" [formGroup]="imprestSearchForm">
<div class="searchForm">
        <div id="searchTable" class="col-sm-12 col-md-12 pull-left customDivHead" style="margin-bottom:15px;">
          <label class="customSearchTiTle">Search</label>
        </div>
        <div class="col-auto pull-left">
          <label for="title">Center: </label>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 pull-left">
          <select [(ngModel)]="FormCenterSearch" formControlName='center_id' class="form-control required" title="Select Center" placeholder="Select Center">
            <option [value]="0"> Select Center</option>
            <option [value]="userAssignCenter.assigned_schools.id" *ngFor="let userAssignCenter of globalObj.userAssignCenterList">
              {{userAssignCenter.assigned_schools.school_name}}
            </option>
          </select>
        </div>
        <div class="col-auto pull-left">
          <label for="title"> Status: </label>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 pull-left">
          <select [(ngModel)]="FormStatusSearch" formControlName='approval_search_status' class="form-control required" title="Select Status"
            placeholder="Select Status">
            <!-- <option [value]="0"> Select Status</option> -->
            <option [value]="approvalStatusList.id" *ngFor="let approvalStatusList of approvalSearchStatus">
              {{approvalStatusList.status_name}}
            </option>
          </select>
        </div>

        <div class="col-auto pull-left">
          <button class="btn btn-info" (click)="onSearchSubmit(imprestSearchForm.value)">Submit</button>
        </div>
		  </div>
      </form>
    </div>
    <div class="clearfix"></div>
    <div>
      <div id="leaveTable" class="col-sm-12 col-md-12 pull-left" style="margin-top:15px;">
        <div class="col-xs-12 col-sm-12 col-md-12 pull-left" *ngIf="successMessage.message">
          <div class="alert alert-success text-center mt10">{{successMessage.message}}</div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-md-3 pull-left" *ngIf="errorMessage.message">
          <div class="alert alert-danger text-center mt10">{{errorMessage.message}}</div>
        </div>
        <form class="form-horizontal" [formGroup]="imprestApprovalForm" (ngSubmit)="approvalStatusUpdate(imprestApprovalForm.value)">
          <table class="table table-striped table-bordered customTable" id="content" #content>
            <thead class="thheadbg">
              <tr>
                <th align="center">S No.</th>
                <th>Center</th>
                <th>Center Head Name</th>
                <th>Imprest Amount</th>
                <th>Actual Amount</th>
                <th>Satus</th>              
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let imprestRequest of imprestRequestList; index as i">                
                <td align="center">{{i+1}}</td>
                <td>{{imprestRequest.school.school_name}} </td>
                <td>{{imprestRequest.user.user_name}} </td>
                <td>{{imprestRequest.amount}} </td>
                <td>
                  <div *ngIf="!isEditable">{{imprestRequest.approved_amount}}</div>
                  <div *ngIf="isEditable" formArrayName="approved_amount">
                    <input type="number" min="0" required class="form-control form-control-inline" [formControlName]="i" value="{{imprestRequest.approved_amount}}" numbersOnly/>
                  </div>
                </td>
                <td>
                  <div *ngIf="isEditable"  formArrayName='approval_status'>
                      <select [formControlName]="i" class="form-control required" title="Select Status" placeholder="Select Status">
                      <option value=""> Select Status</option>
                      <option value="{{approvalStatusList.id}}" *ngFor="let approvalStatusList of approvalSearchStatus">
                        {{approvalStatusList.status_name}}
                      </option>
                    </select>
                  </div>
                  <div *ngIf="!isEditable">
                    <ng-template [ngIf]="imprestRequest.approved_status==1">
                      Pending
                    </ng-template>
                    <ng-template [ngIf]="imprestRequest.approved_status==2">
                      Approved
                    </ng-template>
                    <ng-template [ngIf]="imprestRequest.approved_status==3">
                      Reject
                    </ng-template>
                  </div>                 
                </td>
                
              </tr>
              <tr *ngIf="(imprestRequestList.length==0)">
                <td colspan="6" align="center">
                  <span style="color:red;text-align: center;"> No record found..</span>
                </td>
              </tr>              
            </tbody>
          </table>
        <div *ngIf="imprestRequestList.length>0">
          <input type="submit" class="btn btn-info btn-sm" value="Submit" *ngIf="isEditable"/>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a class="btn btn-info btn-sm" (click)="captureScreen();" value="Print" href="javascript:void(0)">
            Export
          </a>
        </div>                         
        </form>
      </div>
    </div>
  </div>
</div>