page-notesrecepient {
.iconwhite{color:#fff;}
.checkicon{text-align: right;right: 9px;}
.shareicon{text-align: center;}
.sharewith{border: 1px solid #fff;border-radius: 12px;margin: 8px 0px;}
.fintsie{font-size: 3rem; bottom:0;}
}
