.chartContainer{min-height: 335px; margin:0px 0 25px 0;}
.chartColorHind ul{list-style-type: none;padding:0px 15px; margin: 0; text-align: center;}
.chartColorHind ul li{ display: inline-block;vertical-align: top; position: relative;font-size: 13px;color: #222222;padding-left: 20px;margin-right: 10px;}
.chartColorHind ul li:before{content: ''; width: 15px; height: 15px; display: inline-block;position: absolute;left: 0;top: 3px;}
.chartColorHind ul li.correctAns:before{ background-color: #5cb85c;}
.chartColorHind ul li.skippedQ:before{ background-color: #28455a;}
.chartColorHind ul li.wrongAns:before{ background-color: #d9534f;}
.chatInfo{ border-left: 1px solid #ddd !important; border-bottom: 1px solid #ddd !important;}
.chatInfo td{border-right: 1px solid #ddd !important;}
.borderstyle{border-right:1px solid #efe6e6; padding-right: 30px;}
.btn-info:hover,.btn-info:focus{ background-color:#2456b5;border-color:#2456b5;}

.navLineTheme{padding:0; margin:-1px 0 15px 0; list-style-type: none; background: #3c6ecd; width: 100%;float: left; padding:8px 8px 0px 8px;}
.navLineTheme li{ min-width: 140px; text-align: center;  float: left;}
.navLineTheme li a{ outline: none; display: block;color: #fff; font-size: 16px; text-decoration: none; padding:8px 10px; border-radius: 4px 4px 0 0;}
.navLineTheme li.active a{background: #fff;color: #3c6ecd;}
.navLineTheme li span{min-width: 25px; height: 25px; border-radius: 80%; display: inline-block; line-height: 24px; font-size: 13px; color: #333; text-align: center;position: relative;top: -5px;background:#febe36;}
.navLineTheme li.active span{font-weight: normal;}
.greenbedge{ background:#09df27;}
.redbedge{ background:#f35b5b;}
.graybedge{ background:#c9c8c8;}

#questionWiseAnalysis .modal-dialog{ width:70%;}
#questionWiseAnalysis .modal-header{background-color:#3c6ecd; color: #fff;border-radius: 4px 4px 0 0;}

.table-repot tr{font-size: 15px;}
.table-repot>tbody>tr>td{border-color: #bbbaba !important;}
.table-repot tr:first-child{ background-color: #f2f2f2;;}
.table-repot tr:nth-child(2){font-size:15px; font-weight: bold;}
.table-repot tr>td:first-child{color:#1d1a1a}
.table-repot tr>td:nth-child(2){color:#098f09}
.table-repot tr>td:nth-child(3){color:#d20a0a}
.table-repot tr>td:nth-child(4){color:#767575}
.table-repot tr>td:nth-child(5){color:#e4730e}
.table-repot-question tr{font-size: 15px;}
.table-repot-question>tbody>tr>td{border-color: #bbbaba !important;}
.table-repot-question tr:first-child{ background-color: #f2f2f2;}
.table-repot-question tr>td:nth-child(2){ text-align: center;}
.table-repot-question tr>td:nth-child(3){text-align: center;}
.table-repot-question tr>td:nth-child(4){text-align: center;}

.fontweightM{font-family: 'robotobold';font-size:16px;margin-bottom: 10px;}
.subtitleBlue{color: #053281; margin-top: 0; margin-bottom: 10px;}
.qPanel{ background: #fcfcfc;border:1px solid #d9d6d6; padding: 15px; margin-bottom: 10px; border-radius:2px;}
.qPanel h5{ margin-bottom: 5px;}
.fontWnormal{ font-weight:normal;}
.pad8{ padding:6px 8px;}
.colorBlue{color:#165f92}

.ntaTest{
    border-bottom: 1px solid #ece9e9;
    margin-top: 15px;
    width: calc(100% - 40px);
    float: left;
    margin: 15px 20px 0 20px;
    padding-bottom: 15px;}
.ntaTest .btn{ margin-top:5px;}
.ntaTest h4{color: #33518c;font-family: 'robotobold'; margin-bottom:0px; margin-top:0;}
.text-danger{ display:inline-block;margin-top:10px; margin-bottom:10px;}
.headBox small{font-weight:normal;font-family: 'robotoregular';color:#6f7071;font-size: 13px;}
.mtp30{margin-top: 30%;}
.mtp13{margin-top: 13%;}

.navThemeborder{padding:0; margin:18px 0 5px 0; list-style-type: none; width: 100%;float: left; padding:8px 8px 0px 8px; border-bottom: 2px solid #3c6ecd;}
.navThemeborder li{ min-width: 140px; text-align: center;  float: left;}
.navThemeborder li a{ outline: none; display: block;color: #333; font-size: 18px; text-decoration: none; padding:8px 15px; border-radius: 4px 4px 0 0;}
.navThemeborder li.active a{background: #3c6ecd;color: #fff;}
.info-icon{font-size:28px; margin:9px 15px 0 0; display:inline-block;color: #3c6ecd}
.info-icon:hover{color:#2258be;}
.overveiwdrop{ padding:15px; min-width:320px; right:15px !important;left: inherit;}
/*.overveiwdrop:before{content: url(../images/toparrow.png); position: absolute; top:-15px; right: 10px;}*/
.difficult{ margin:10px 0 15px 0;}
.difficult ul li.correctAns:before {background-color: #51e980;}
.difficult ul li.skippedQ:before { background-color: #f4d47e;}
.difficult ul li.wrongAns:before { background-color: #ff6262;}
.pprogress{width:100%;float:left; margin-bottom:10px;height: 10px; border-radius: 18px;}
.pprogress .progress-bar-success{background-color: #3c6ecd;}
.pprogress-title{font-weight:bold; margin-top:3px;width: 100%;float: left; margin-bottom:2px;}
.divScroll{ max-height:184px; overflow-y:auto;}
.borderNone,.borderNone td{ border:0 !important; margin:0;}
.borderNone td{ padding:5px !important;}
.togglehead{ position:relative; padding-right:50px;}
.togglehead .rightposition{ position:absolute;right:0;}

.togglehead .info-icon{ margin-right: 10px;}
.subjectColor{ margin: 15px 0 15px 0;}
.subjectColor ul li:before{ border-radius: 4px;}
.subjectColor ul li.phycode:before {background-color: #00c0fe;}
.subjectColor ul li.chemcode:before { background-color: #ff7a3d;}
.subjectColor ul li.mathcode:before { background-color: #fdb918;}
.reportdiv{ margin:15px 0;}
.reportdiv img{ margin:0 4px 0 15px;}
.tableScroll{ max-height:328px; min-height:328px; overflow-y:auto; width:100%;float:left;}
.tableScroll table{ margin-bottom:0;}
.title-blue-sm{font-size: 16px;font-weight: normal;color: #3c6ecd;}
.flexBoxD{display: flex;justify-content: center; flex-flow: column;min-height: 70px;}
.recentTestOuter{padding: 10px 20px 10px 20px; width: 100%;float: left;}
.pntaTest {width:100%; float: left; margin: 0px; border-radius: 5px; color: #222; position: relative; padding: 8px 15px; background: #f7f3f3; margin: 2px 0;}
.pntaTest h4{ color:#333;margin: 0;font-family: 'robotomedium';}
.pntaTest a{position: absolute; right:0px; font-size: 35px;color: #333;}
.minHightText{ min-height: 70px;display: flex; flex-direction: column; justify-content: center;}
.maxScroll{min-height: 465px;max-height: 465px; overflow-y:auto; width:100%;float:left;}
.tableScroll-sm{ max-height: 202px;min-height: 202px; overflow-y: auto; width: 100%; float: left;}