.fmGroup{margin:15px 0;width: 100%;float: left;}
   .fmGroup label{font-size:14px;}
   .fmGroup select{font-size: 13px;}
   .font14{font-size:14px;}
   .margin-bottom-20{margin-bottom: 20px;}
   .timetableColender thead th{background:#004B80;color: #fff}