.custom-day {
      text-align: center;
      padding: 0.185rem 0.25rem;
      display: inline-block;
      height: 2rem;
      width: 2rem;
    }
    .custom-day.focused {
      background-color: #e6e6e6;
    }
    .custom-day.range, .custom-day:hover {
      background-color: rgb(2, 117, 216);
      color: white;
    }
    .custom-day.faded {
      background-color: rgba(2, 117, 216, 0.5);
    }
    .homewrkMailing {padding: 10px 230px 10px 60px !important;}
    .mailNote{right: 0;}
     .alert-info {
      color: #0c5460;
      background-color: #d1ecf1;
      border-color: #bee5eb;
      width: 98%;
      float: left;
      padding: 5px 10px;
      font-size: 14px;
      text-align: center;
      box-sizing: border-box;
  }
    .tabsytle{
    float: left;
    margin:14px 0 0 0;
    padding: 0 15px;
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 12px;
}
.plussing{top:10px;}
.showDate{
    padding: 4px 20px 4px 10px;
    border: 1px solid #cdcdcd;
    display: inline-block;
    margin: 0px 0 0 0;
    bottom: -18px;
    font-size: 14px;
	    background: #f2f2f2;
}
.showDate label{margin:0;}.showDate .close{position: absolute; right: 0; margin: 0; top: 0px;font-weight: bold;}
.ngCalendra ngb-datepicker{
  position: absolute;
    right: 0;
    z-index: 9;
    background: #fff;
    box-shadow: 0 0 3px 2px rgba(109, 106, 106, 0.48);
    top: 100%;
    margin-top: 1px;}
/*Basic*/
.alert{padding:8px 10px;font-size: 14px;}
.customTable thead th{ color: #fff; background: #0b3fa2;}
table td, table th{padding: 8px;font-size: 14px}
table td a, table th a{color:#333;}
.form-control{font-size: 14px;}
.inputItem{ min-height: 55px;}
.mt15{margin-top:15px;}
.mb15{margin-bottom:15px;}
.mt8{margin-top: 8px;}
.btn{border-radius: 4px;}
.mt10{margin-top:10px;}
.mr10{margin-right: 10px}