<div class="col-sm-12 col-md-12 padding-left-none">
  <div class="boxModel pull-left maxHightOuto">
    <div class="headBox mb25">
      <h5 class="pull-left">{{expense_master_title}}</h5>
      <span class="float-right">
        <button (click)="toggle()" id="btToggle" class="btn btn-info btn-sm mr10 mt15">Add</button>
      </span>
    </div>
    <div>{{globalObj.message}}</div>
    <div *ngIf="show_add_item_master">
      <form (ngSubmit)="onSubmit(categoryMasterForm.value)" [formGroup]="categoryMasterForm" ngNativeValidate>
        <input type="hidden" class="form-control" value="" formControlName='id' />

        <!-- <div class="col-xs-12 col-sm-6 col-md-6 pull-left mb15">
          <label>Expense For
            <span class="text-danger">*</span>: </label>
          <select formControlName='expense_for' class="form-control" required title="Please Select Expense For">
            <option value=""> Select Expense For</option>
            <option [value]="expenseFor.id" *ngFor="let expenseFor of globalObj.expenseForList; index as i">{{expenseFor.name}}</option>
          </select>
        </div> -->

        <div class="col-xs-12 col-sm-3 col-md-3 pull-left mb15">
          <label>Select Expense Category<span class="text-danger">*</span> </label>
          <select formControlName='expense_category' class="form-control" required title="Please select unit">
            <option value=""> Select Expense Category</option>
            <option [value]="categoryMaster.id" *ngFor="let categoryMaster of globalObj.categoryMasterList; index as i">{{categoryMaster.category_name}}</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 pull-left mb15">
          <label for="email">Enter Expense Name
            <span class="text-danger">*</span></label>
          <input type="text" class="form-control" required value="" formControlName='expense_name' placeholder="Enter Expense Name"
            title="Please Enter Expense Name" autofocus="" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 pull-right divSpace text-left">
          <input class="btn btn-primary mr10" value="Save" name="submit" id="submit" type="submit">
          <button class="btn btn-primary mr10" (click)="getFromSet()">Reset</button>
          <button class="btn btn-primary" (click)="getFromClose()">Close</button>
        </div>
      </form>
    </div>
    <div class="clearfix"></div>
    <div *ngIf="show_item_master_list">
      <div id="leaveTable" class="col-sm-12 col-md-12 pull-left mt20">
        <div class="col-xs-12 col-sm-12 col-md-12 pull-left" *ngIf="successMessage.message">
          <div class="alert alert-success text-center mt10">{{successMessage.message}}</div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-md-3 pull-left" *ngIf="errorMessage.message">
          <div class="alert alert-danger text-center mt10">{{errorMessage.message}}</div>
        </div>
        <table class="table table-striped table-bordered customTable">
          <thead class="thheadbg">
            <tr>
              <th align="center">S No.</th>
              <!-- <th>Expense For</th> -->
              <th>Expense Category</th>
              <th>Name</th>
              <th style="width: 100px;">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let expenseMaster of expenseMasterList; index as i">
              <td>{{i+1}}</td>              
              <!-- <td>{{expenseMaster.expenseFor.name}} </td> -->
              <td>{{expenseMaster.expenseCategory.category_name}} </td>
              <td>{{expenseMaster.expense_name}} </td>
              <td>
                <button class="btn btn-info btn-sm" (click)="expenseMasterEdit(expenseMaster.id)">Edit</button>
              </td>
            </tr>
            <tr *ngIf="(expenseMasterList.length==0)">
              <td colspan="4" align="center">
                <span style="color:red;text-align: center;"> No record found..</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>