page-leaveapprov {
    .content{
        .scroll-content{overflow-y: hidden !important}
    }
    
    .headerstyle{margin: 14px;font-size: 1.9rem;}
    .contentarea{    border: 1px solid #dedede;width: 90%;margin-left: 12px;}
    .aligncenter{text-align: center;}
}
