.hdboxcontroller .fa-arrow-left {
    color: #3c6ecd;
    font-size: 25px;
}
.hdboxcontroller a{ display: inline-block; vertical-align:top;margin-left: 5px;}
.browsersBlock{border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
    overflow: auto;

    padding: 5px;
    width: 100%;}
.browsersBlock .fileContainer{
  border: 1px solid #ddd;
    -webkit-box-shadow: 1px 1px 5px 0 #a2958a;
    box-shadow: 1px 1px 5px 0 #a2958a;
    float: left;
    margin: 5px;
    padding: 6px;
    position: relative;
    text-align: center;
    width: 100px;
    min-height: 135px;
  }
.browsersBlock .attchedContent{height: 83px; background: #fff;margin-top: 12px;}
.browsersBlock .attchedContent img{max-height:85px; width: 85px;}
.browsersBlock .itemTitle{font-size: 11px; color: #8C8888; margin-top: 6px; overflow: hidden;
    white-space: nowrap; text-overflow: ellipsis}
.browsersBlock .close {right: 5px !important; padding: 0 !important;font-size: 20px !important;}
.doneidbtn a{margin-left:5px;}
.inputBar .close{margin-top: -8px;margin-right: -6px;}
