<div class="boxModel pull-left maxHightOuto">
  <div class="headBox mb25">
      <h5 class="pull-left">{{'Revenue Target'| translate}}</h5>
  </div>

  <form class="form-signin" ngNativeValidate [formGroup]="revenueMonthTargetForm" (ngSubmit)="getMonthRevenueTarget(revenueMonthTargetForm.value)">


    <div class="col-xs-12 col-sm-3 col-md-3 pull-left inputItem">
      <select required  class="form-control cleanup validate-empty width30" formControlName="school_id"  (change)="getSchoolSessions($event)" >
          <option value="" >Select Center</option>
          <option *ngFor="let school of schools" value="{{school.id}}">{{school.school_name}}</option>
      </select>
    
    </div>
      <div class="col-xs-12 col-sm-3 col-md-3 pull-left inputItem">
          <select required  class="form-control cleanup validate-empty width30" formControlName="session_id"  (change)="getMonth($event)" >
              <option value="" >Select Session</option>
              <option *ngFor="let session of schoolSessions" value="{{session.id}}">{{session.session_name}}</option>
          </select>
          
      </div>

      <div class="col-xs-12 col-sm-3 col-md-3 pull-left inputItem">
        <select required class="form-control cleanup validate-empty width30" formControlName="year" >
            <option value="" >Select Year</option>
            <option *ngFor="let yearval of years" value="{{yearval}}" >{{yearval}}</option>
        </select>
    </div>

      <div class="col-xs-12 col-sm-3 col-md-3 pull-left inputItem">
          <select required class="form-control cleanup validate-empty width30" formControlName="month" >
              <option value="" >Select Month</option>
              <option *ngFor="let monthObj of months" value="{{monthObj.val}}" >{{monthObj.name}}</option>
          </select>
      </div>


      <div class="col-xs-12 col-sm-3 col-md-3 pull-left inputItem">
        <select required class="form-control cleanup validate-empty width30" formControlName="status" >
            <option *ngFor="let status of statusFilters" value="{{status}}" >{{status}}</option>
        </select>
    </div>

      <div class="col-xs-12 col-sm-12 col-md-12 pull-left inputItem">
         
          <input class="btn btn-primary" value="Submit" name="Search" id="submit" type="submit">
            </div>

  </form>

  

  <div   id="leaveTable" class="col-sm-12 col-md-12 pull-left mt15">
    <div class="error_message alert alert-danger" *ngIf="errorMessage.message">{{errorMessage.message}}</div>    
    <div class="success_message alert alert-success" *ngIf="successMessage.message">{{successMessage.message}}</div> 
    <div *ngIf="revenueMonthTargets.length > 0">
    <form class="form-signin"  [formGroup]="statusRevenueTargetForm" (ngSubmit)="updateRevenueTargetStatus(statusRevenueTargetForm.value)">
        <table class="table table-striped table-bordered customTable mt15">
            <thead class="thheadbg">
                <tr>            
                    <th>{{'Package' | translate}}</th>
                    <th style="width:180px;">{{'Admission Target' | translate}}</th>
                    <th style="width:180px;">{{'Discount Target' | translate}}</th>
                    <th >{{'Revenue Target' | translate}}</th>
                    <th style="width: 200px;">{{'Action' | translate}}</th>
                    
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let monthTarget of revenueMonthTargets; let i = index">     
                                      
                            <td>{{monthTarget.fee_structure.fee_structure_name}}</td>
                            <td>{{monthTarget.admission_target}}</td>
                            <td>{{monthTarget.discount_target}}</td>
                            <td>{{monthTarget.revenue_target}}</td>
                            
                            <td formArrayName="status">
                                <p><input type="radio"  [formControlName]="i" value="Accepted" /> Accepted
                               &nbsp; <input type="radio"  [formControlName]="i" value="Rejected" /> Rejected</p>
                                   
                            </td>
                                        
                </tr>
            </tbody>
        </table>
        <div class="col-xs-12 col-sm-12 col-md-12 pull-left text-center inputItem">
        <input class="btn btn-primary" value="Submit" name="update_status" id="update_status" type="submit">
        </div>
    </form>
    </div>
    </div>



</div>