<ng-container *ngIf="userType=='teacher'">
  <app-teacher></app-teacher>
</ng-container>
<ng-container *ngIf="userType=='parent'">
  <app-parent></app-parent>
</ng-container>
<ng-container *ngIf="userType=='student'">
  <app-student></app-student>
</ng-container>
 <!-- <ng-container *ngIf="userType=='management'">
   <app-management></app-management> 
</ng-container>  -->
<ng-container *ngIf="userType=='school' ||userType=='non_teacher' ||userType=='management'">
  <app-centerhead></app-centerhead> 
</ng-container> 
