body {
  font-size: 14px;
}

.setWidth {
  width: 150px;
}

.fontweight {
  font-weight: 400;
}

.bg-primary th {
  color: #fff;
}

.btn-info:hover {
  background-color: #2658b7;
  border-color: #2658b7;
}

.mb25 {
  margin-bottom: 25px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

a>.fa-trash-o {
  color: red;
}

a>.fa-pencil {
  color: #0b4ac1;
}

.dblock {
  display: block;
}

.maxW {
  max-width: 70px;
  display: inline-block;
}

.customDivHead {
  color: #fff;
  background: #0b3fa2;
}

.customSearchTiTle {
  margin-top: 5px;
}

.divSpace {
  margin-top: 10px;
}

.checkBox {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: normal;
  margin: 0px;
  font-weight: normal;
  margin-top: 0;
  font-size: 14px;
}

.checkBox input {
  position: absolute;
  opacity: 0;
}

.checkmark:before {
  position: absolute;
  content: '';
  /*content: "\f096";*/
  top: 0px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #818386;
  display: inline-block;
}

.checkBox input:checked~.checkmark:before {
  border-color: #35a723;
}

.checkBox input:checked~.checkmark:after {
  content: '';
  /*content: "\f046";*/
  display: block;
  width: 5px;
  height: 12px;
  border: solid #35a723;
  border-width: 0 2px 3px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 3px;
  left: 7px;
}

/*Basic*/

.alert {
  padding: 8px 10px;
  font-size: 14px;
  margin-bottom: 0;
}

.customTable thead th {
  color: #fff;
  background: #0b3fa2;
}

table td,
table th {
  padding: 8px;
  font-size: 14px
}

table td a,
table th a {
  color: #333;
}

.form-control {
  font-size: 14px;
}

.inputItem {
  min-height: 55px;
}

.mt20 {
  margin-top: 20px;
}

.mt15 {
  margin-top: 15px;
}

.mb15 {
  margin-bottom: 15px;
}

.mt8 {
  margin-top: 8px;
}

.btn {
  border-radius: 4px;
}

.mt10 {
  margin-top: 10px;
}

.mr10 {
  margin-right: 10px;
}

label {
  font-weight: bold;
}

.clear3 {
  clear: both;
  height: 3px;
}

.clear {
  clear: both;
  height: 10px;
}

.textCenter {
  text-align: center;
  vertical-align: middle;
}

.material-icons {
  font-size: 20px !important;
}

.green {
  color: #008000 !important;
  text-decoration: none;
}

.red {
  color: #800000 !important;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.vam {
  vertical-align: middle;
}

.blue {
  color: #004b80 !important;
  text-decoration: none;
}

.greenBold {
  color: #008000 !important;
  text-decoration: none;
  font-weight: bold;
}

.redBold {
  color: #800000 !important;
  text-decoration: none;
  font-weight: bold;
}

.blueBold {
  text-decoration: none;
  color: #004b80 !important;
  font-weight: bold;
}
