
     <!-- <div class="loader hide" id="loader"><div class="spinner"></div></div> -->
    <div class="col-sm-12 col-md-12 pull-left padding-left-none" style="margin-top: 15px;">
      <div class="profileBlock topGap">
  <div class="dpBlock absposition" style="top:30px;position: static">
           <div *ngIf="!global.profile_image" class="dp d-inline-block" style="background-image:url(assets/images/profile_img.jpg)"></div>
           <div *ngIf="global.profile_image" class="dp d-inline-block has-feedback"><img src="{{global.staff_profile_image}}"></div> 

      </div>

  <!-- <div class="headBox" style="margin-bottom: 30px;"><h5 class="h5 pull-left padding-left-none"> {{'profile' | translate}}</h5><a *ngIf="global.product_type == 'emscc'" class="pull-right btn btn-sm btn-primary" style="margin-top: 15px;" (click)="popUpOpen()" href="javascript:void(0)">{{'user_personalization' | translate}}</a></div> -->
  <div class="clearfix"></div>
    <form>
          <div class="row margintop20">
          <div class="col-sm-4 col-md-4">
          <h5 class="formH5"> {{'name' | translate}}</h5>
          <label class="inputStyle">{{global.teacher_name? global.teacher_name:'--'}}</label>
          </div>

          <div class="col-sm-4 col-md-4">
          <h5 class="formH5"> {{'employee_id' | translate}}</h5>
          <label class="inputStyle">{{global.staff_code}}</label>
          </div>

          <div class="col-sm-4 col-md-4">
          <h5 class="formH5"> {{'designation' | translate}}</h5>
          <label class="inputStyle">{{teacherData.staffdetail.designation? teacherData.staffdetail.designation:'--'}}</label>
          </div>

          <div class="col-sm-4 col-md-4">
          <h5 class="formH5"> {{'email_id' | translate}}</h5>
           <label class="inputStyle">{{teacherData.staffdetail.email ? teacherData.staffdetail.email:'--'}}</label>
          <!-- <label class="inputStyle">{{globalObj.userEmail ? globalObj.userEmail : '--'}}</label> -->
          </div>

          <div class="col-sm-4 col-md-4">
          <h5 class="formH5">  {{'contact_number' | translate}}</h5>
           <label class="inputStyle">{{teacherData.staffdetail.mobile ? teacherData.staffdetail.mobile:'--'}}</label>
          <!-- <label class="inputStyle">{{globalObj.userNumber ? globalObj.userNumber : '--'}}</label> -->
          </div>

          <div class="col-sm-4 col-md-4">
          <h5 class="formH5"> {{'date_joining' | translate}}</h5>
          <label class="inputStyle">{{teacherData.staffdetail.date_of_join? teacherData.staffdetail.date_of_join:'--'}}</label>
          </div>

          <div class="col-sm-4 col-md-4" *ngIf="global.product_type != 'emscc'">
          <h5 class="formH5"> {{'class_teacher' | translate}}</h5>
          <label class="inputStyle">{{global.class_teacher!='No'? global.class_teacher:'--'}}</label>

          </div>

          <div class="col-sm-4 col-md-4">
          <h5 class="formH5"> {{'class_section' | translate}}</h5>
          <label class="inputStyle">{{section? section:'--'}}</label>
          </div>

          <div class="col-sm-4 col-md-4" *ngIf="global.product_type != 'emscc'">
          <h5 class="formH5"> {{'subjects_assigned' | translate}}</h5>
          <label class="inputStyle">{{subject | arrayunique}}</label>
          </div>

          <div class="col-sm-4 col-md-4" *ngIf="global.product_type != 'emscc'">
          <h5 class="formH5"> {{'bank_account_number' | translate}}</h5>
          <label class="inputStyle">{{global.bank_acc_no ? global.bank_acc_no:'--'}}</label>
          </div>
          </div>
          </form>
       </div>
    </div>



<div class="modal fade" id="overlay" style='pointer-events: none;'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 *ngIf="globalObj.onAdmissionUpdate" class="modal-title">{{'update_my_details' | translate}}</h4>
        <h5 *ngIf="globalObj.onMobileUpdate" class="modal-title">{{'update_mobile_number' | translate}}</h5>
         <button type="button" (click)="closePersonal()"  class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

      </div>
      <div class="modal-body">
        <form [formGroup]='form' (ngSubmit)="onSubmit(form.value, $event)">
          <!-- <p *ngIf="globalObj.username" class="username_err" style="color:red;">Selected username is empty</p>
          <p *ngIf='globalObj.emailAlert' class="username_email_err" style="color:red;">Entered email is invalid</p>
          <p *ngIf='globalObj.phoneAlert' class="username_mob_err" style="color:red;">Entered mobile is invalid</p> -->
          <p *ngIf="globalObj.message != ''" class="username_mob_err" style="color:red;font-size: 13px;margin: 0 0 10px 0;">{{globalObj.message|translate}}</p>
          <ng-container *ngIf="globalObj.onAdmissionUpdate">
          <table class="loginTable">
              <tr>
                  <td style="width: 150px"><b> {{'faculty_name' | translate}} :</b></td>
                 <td>{{globalObj.name}}</td>
              </tr>
              <tr>
                  <td><b>{{'login_using' | translate}}:</b></td>
                  <td><input type="radio"  [checked]="globalObj.admin == 1" [value]="globalObj.adminNo" formControlName="radiobutton" (click)="checkExist('admin')" checked> {{'staff_code' | translate}}<br>{{globalObj.adminNo}}</td>
              </tr>
              <tr>
                  <td>&nbsp;</td>
                  <td><input type="radio" [value]="globalObj.phone1" formControlName="radiobutton" [checked]="globalObj.phoneCheck == 1" (click)="checkExist('phone')">  {{'mobile_no' | translate}}
                      <span *ngIf="globalObj.phoneUpdate">
                        <!-- <input type="text" formControlName='updatePhone' name="update_mob" pattern="^\d{10}$" minlength="10" maxlength="10" /> -->
                       </span><br><span>{{globalObj.phone}}</span><span *ngIf="globalObj.phone == ''">{{'no_mobile_number_exist' | translate}}</span>
                       <!-- </span><br><span>{{global.userNumber}}</span> -->
                      <a *ngIf="globalObj.mobileUpdateShow" (click)="checkExist('phoneUp')" href="javascript:void(0);" >{{'update' | translate}}</a></td>
              </tr>
               <tr>
                  <td>&nbsp;</td>
                  <td> <input type="radio"  formControlName="radiobutton" [value]="globalObj.email1" [checked]="globalObj.emailCheck == 1" (click)="checkExist('email')">  {{'email_id' | translate}}
                      <span *ngIf="globalObj.emailUpdate">
                        <!-- <input type="text" formControlName='updateEmail' name="update_email"/> -->
                       </span><br><span>{{globalObj.email}}</span><span *ngIf="globalObj.email == ''">{{'no_email_id_exist' | translate}}</span>
                      <!-- </span><br><span></span> -->
                      <a *ngIf="globalObj.emailUpdateShow" (click)="checkExist('emailUp')" href="javascript:void(0);" >{{'update' | translate}}</a></td>
               </tr>
              <tr>
                  <td>&nbsp;</td>
                  <td>
                    <span><button type="submit" class="btn btn-primary">{{'update' | translate}}</button></span>
                      <!-- <button type="button" class="btn btn-primary">Cancel</button></td> -->
              </tr>
          </table>
            </ng-container>

           <ng-container *ngIf="globalObj.onMobileUpdate">
          <table class="loginTable">
          <tr>
           <td style="width: 150px"><b>{{'faculty_name' | translate}}:</b></td>
                 <td>{{globalObj.name}}</td>
          </tr>
          <tr>
           <td style="width: 150px"><b>{{'old_mobile_number' | translate}}:</b></td>
                 <td>{{globalObj.phone}}<span *ngIf="globalObj.phone == ''">{{'no_mobile_number_exist' | translate}}</span></td>
          </tr>
          <tr>
           <td style="width: 150px"><b>{{'new_mobile_number' | translate}}:</b></td>
                 <td><input type="text" formControlName='updatePhone' name="update_mob" pattern="^\d{10}$" minlength="10" maxlength="10" />
                 <br><a *ngIf="globalObj.sendOTP" href="javascript:void(0)" (click)="sendOTP()"> {{'send_otp' | translate}}</a>
                <p *ngIf="globalObj.verified">{{'verified' | translate}}</p>
                </td>
          </tr>
            <tr>
              <td>&nbsp;</td>
              <td>
                <span *ngIf="globalObj.finalUpdateMobile"><button  (click)="updateFinal('mobile')" type="button" class="btn btn-primary">{{'update' | translate}}</button></span>
               <button type="button" class="btn btn-primary"  (click)="cancel('mobile')">{{'cancel' | translate}}</button></td>
          </tr>
          </table>
          </ng-container>
          <ng-container *ngIf="globalObj.otpConfirmBox">
            <table style="width: 100%;" class="getotp">
              <tr>
                <td>
                    <input placeholder="{{'Enter OTP (One Time Password) Sent To'|translate}} {{globalObj.viewMobile}}" type="textbox" minlength="6" maxlength="6" class="form-control pull-left" name="otptext" formControlName="otptext">
                    <a style="font-size: 14px;float: right;margin-top: 6px;margin-left: 10px;" href="javascript:void(0)" (click)="sendOTP()">{{'resend_otp' | translate}}</a>
                </td>
                  </tr>
               <tr>
                  <td class="text-right">&nbsp;</td>
              </tr>
              <tr>
                  <td class="text-center">
                    <button type="button" class="btn btn-primary btn-sm"  (click)="confirmVaildData('mobile')">{{'confirm' | translate}}</button>
                </td>
              </tr>


            </table>

          </ng-container>
          <ng-container *ngIf="globalObj.onEmailUpdate">
          <table class="loginTable">
          <tr>
           <td style="width: 150px"><b>{{'faculty_name' | translate}}:</b></td>
                 <td>{{globalObj.name}}</td>
          </tr>
          <tr>
           <td style="width: 150px"><b>{{'old_email_id' | translate}}:</b></td>
                 <td>{{globalObj.email}}<span *ngIf="globalObj.email == ''">{{'no_email_id_exist' | translate}}</span></td>
          </tr>
          <tr>
           <td style="width: 150px"><b>{{'new_email_id' | translate}}:</b></td>
                 <td><input type="text" formControlName='updateEmail' name="update_email"/>
                 <br><a href="javascript:void(0)" (click)="verifyEmail()"> {{'verify_email' | translate}}</a></td>
          </tr>
            <tr>
              <td>&nbsp;</td>
              <td>
                <!-- <span *ngIf="globalObj.finalUpdateMobile"><button  (click)="updateFinal('mobile')" type="button" class="btn btn-primary">Update</button></span> -->
               <button type="button" class="btn btn-primary"  (click)="cancel('email')">{{'cancel' | translate}}</button></td>
          </tr>
          </table>
          </ng-container>
            <ng-container *ngIf="globalObj.onEmailSentMessage">
              <h4> {{'verification_sent' | translate}}</h4><br>
                <div>{{'verification_link_sent_to' | translate}} {{globalObj.showEmail}} {{'please_check_your_email_for_instructions' | translate}}</div>
              <br><div class="text-center">
                  <button type="button" class="btn btn-primary" (click)="popupdisplay()"> {{'ok' | translate}}</button>
              </div>
              </ng-container>
            </form>
      </div>
    </div>
  </div>
</div>
<style>
    .loginTable td{ padding:10px 5px; font-size: 14px;}
</style>



