<div class="col-sm-12 col-md-12 pull-left padding-left-none padding-right-none">
    <div class="communication pull-left" style="margin-top:15px; overflow: hidden;">
        <div class="headBox">
            <h5 class="h5 pull-left">{{'Staff Center Assignment' | translate}}</h5>
        </div>
        <ul class="nav navLineTheme">
            <li><a data-toggle="tab" href="#staffwise" class="active">{{'Staff Wise' | translate}}</a></li>
            <li><a data-toggle="tab" href="#centerwise">{{'Center Wise' | translate}}</a></li>
        </ul>
        <div class="col-xs-12 col-sm-12 col-md-12 pull-left" *ngIf="successMessage.message">
			<div class="alert alert-success text-center mt10">{{successMessage.message}}</div></div>
        <div class="col-xs-12 col-sm-12 col-md-12 pull-left">
            <div class="tab-content">
                <div id="staffwise" class="tab-pane active">
                    <form class="form-signin" ngNativeValidate [formGroup]="staffWiseForm" (ngSubmit)="staffCenterAssignment(staffWiseForm.value)">
                        <div class="clearfix"></div>
                        <div class="col-xs-12 col-sm-3 col-md-3 pull-left inputItem">
                            <select required class="form-control cleanup validate-empty width30" formControlName="staff" #staff (change)="checkboxChecked(staff.value)">
                                <option value="" disabled>--{{'select_staff' | translate}}--</option>
                                <option *ngFor="let staff of facultyArr | keyvalue; index as i;" value="{{staff.value.emp_code}}">{{staff.value.emp_code}}-{{staff.value.emp_name}}</option>
                            </select>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 pull-left inputItem">
                            <select required class="form-control cleanup validate-empty width30" formControlName="user_type" #userResult (change)="getUserRole(userResult.value)">
                                <option value="" disabled>--{{'Select User Type' | translate}}--</option>
                                <option *ngFor="let userResult of userTypeList | keyvalue;" value="{{userResult.value}}">{{userResult.value}}</option>
                            </select>
                        </div>
                
                        <div class="col-xs-12 col-sm-3 col-md-3 pull-left inputItem">
                            <select required class="form-control cleanup validate-empty width30" formControlName="role">
                                <option value="">--{{'Select Role' | translate}}--</option>
                                <option *ngFor="let role of roleArr | keyvalue;" value="{{role.value}}">{{role.value}}</option>
                            </select>
                        </div>

                        <div id="leaveTable" class="col-sm-12 col-md-12 pull-left" style="margin-top:15px;">
                            <table class="table table-striped table-bordered customTable">
                                <thead class="thheadbg">
                                    <tr>            
                                        <th style="width: 70px">{{'action' | translate}}</th>
                                        <th>{{'Center Name' | translate}}</th>
                                        <th style="width: 170px">{{'Center Code' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr formArrayName="centerlist" *ngFor="let school of schoolList | keyvalue; index as i">     
                                        <td><label class="checkBox"><input type="checkbox" class="cleanup validate-empty" [formControlName]="i"><span class="checkmark"></span></label></td>        
                                        <td >{{school.value.school_name}}</td>
                                        <td >{{school.value.school_code}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                
                        <div class="clearfix"></div>
                        <div class="col-xs-12 col-sm-12 col-md-12 pull-left inputItem mt15 text-right">
                            <input type="hidden" formControlName="id" value="" />
                            <input class="btn btn-primary" value="Assign" name="submit" id="submit" type="submit">
                            <hr/>
                        </div>
                    </form>
                </div>

                <div id="centerwise" class="tab-pane fade">
                    <form class="form-signin" ngNativeValidate [formGroup]="centerWiseForm" (ngSubmit)="centerStaffAssignment(centerWiseForm.value)">
                        <div class="clearfix"></div>
                        <div class="col-xs-12 col-sm-3 col-md-3 pull-left inputItem">
                            <select required class="form-control cleanup validate-empty width30" formControlName="center" #school (change)="centerChecboxChecked(school.value)">
                                <option value="" disabled>--{{'Select Center' | translate}}--</option>
                                <option *ngFor="let school of schoolList | keyvalue; index as i;" value="{{school.value.id}}">{{school.value.school_name}}</option>
                            </select>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 pull-left inputItem">
                            <select required class="form-control cleanup validate-empty width30" formControlName="center_user_type" #userType (change)="getRole(userType.value)">
                                <option value="" disabled>--{{'Select User Type' | translate}}--</option>
                                <option *ngFor="let userType of userTypeList| keyvalue;" value="{{userType.value}}">{{userType.value}}</option>
                            </select>
                        </div>
                
                        <div class="col-xs-12 col-sm-3 col-md-3 pull-left inputItem">
                            <select required class="form-control cleanup validate-empty width30" formControlName="center_role">
                                <option value="" disabled>--{{'Select Role' | translate}}--</option>
                                <option *ngFor="let role of roleList| keyvalue;">{{role.value}}</option>
                            </select>
                        </div>

                        <div id="leaveTable" class="col-sm-12 col-md-12 pull-left" style="margin-top:15px;">
                            <table class="table table-striped table-bordered customTable">
                                <thead class="thheadbg">
                                    <tr>            
                                        <th style="width: 70px">{{'action' | translate}}</th>
                                        <th>{{'Staff Name' | translate}}</th>
                                        <th>{{'staff_code' | translate}}</th>
                                        <th>{{'Department' | translate}}</th>
                                        <th>{{'Designation' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr formArrayName="staffrecord" *ngFor="let staff of facultyArr | keyvalue; index as j">     
                                        <td><label class="checkBox"><input type="checkbox" class="cleanup validate-empty" [formControlName]="j"><span class="checkmark"></span></label></td>        
                                        <td>{{staff.value.emp_name}}</td>
                                        <td>{{staff.value.emp_code}}</td>
                                        <td>{{staff.value.dep_name}}</td>
                                        <td>{{staff.value.deg_name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                
                        <div class="clearfix"></div>
                        <div class="col-xs-12 col-sm-12 col-md-12 pull-left inputItem">
                            <input type="hidden" formControlName="id" value="" />
                            <input class="btn btn-primary" value="Assign" name="save" id="save" type="submit">
                            <hr/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>