page-homework-remark {
.addRemark{position: absolute; right: 10px; top: 15px;
button{ color:#fff; background: transparent; margin-left:5px; padding:0;
img{max-width: 3rem;}
}
}
.item-md{ padding-left: 0;}
textarea{border: 1px solid #dedede; padding: 10px; font-size: 1.6rem;max-height: 150px; margin-top: 15px;}
.item-inner{ padding-right: 0 !important;}
.label-md{ margin-right: 0 !important;}
.iconsize{font-size:3rem;}
}
