page-homework-filter-date-subject {
    .content{
        .scroll-content{overflow-y: hidden !important}
    }
    .fontsizedate{font-size: 1.3rem;}
    .aligncenter{text-align:center;}
    .contact-popover{
          .popover-content{width: 100% !important;}
      }
      
      .borderstyle{border: 1px solid #488aff;}
      .bordersegment{border-left: 1px solid #488aff; border-right: 1px solid #488aff;}
      .text-info{color: #3c6ecd; padding: 5px 12px; margin: 0;}

}
